<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Chatbot</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="C'est un chatbot qui génère des rechettes sénégalaises."
    />
    <link rel="icon" type="image/png" href="static/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- Option 1: Include in HTML -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <style>
      .loading-message {
        text-align: center;
        font-style: italic;
        color: #999;
      }

      #chat-container {
        height: 60vh;
        overflow-y: auto;
      }

      #user-input {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Chatbot Covid-19 au Senegal</h1>
      <p>Avertissement : soyez patient, cela peut prendre un certain temps</p>
      <div class="row chat-container" id="chat-container"></div>
      <div class="row">
        <div class="col-xs-12">
          <input
            type="text"
            class="form-control"
            id="user-input"
            placeholder="Type your message..."
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary btn-block" id="send-btn">Send</button>
        </div>
      </div>
      <!-- 
        <footer class="footer">
            <div class="footer-links">
                <h2> Made by Fallou Diagne
                <a href="https://www.linkedin.com/in/fallou-diagne-4b02b8214/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/falloudiagnessm" target="_blank"><i class="bi bi-github"></i></a></h2>
            </div>
        </footer>
        -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#send-btn").on("click", function () {
          sendMessage();
        });

        $("#user-input").on("keypress", function (e) {
          if (e.which === 13) {
            sendMessage();
          }
        });

        function sendMessage() {
          var userInput = $("#user-input").val();
          if (userInput.trim() !== "") {
            $("#user-input").val("");
            $("#chat-container").append(
              '<div class="col-xs-12 text-right"><p class="alert alert-info">' +
                userInput +
                "</p></div>"
            );
            scrollToBottom();

            $("#chat-container").append(
              '<div class="col-xs-12"><p class="loading-message">Bot is typing...</p></div>'
            );
            scrollToBottom();

            $.post("/chat", { text: userInput }, function (response) {
              $("#chat-container .loading-message:last").remove();

              $("#chat-container").append(
                '<div class="col-xs-12 text-left"><p class="alert alert-success">' +
                  response.text +
                  "</p></div>"
              );
              scrollToBottom();

              setVoice(response.voice);
              playNotificationSound();
              showNotification(response.text);
            });
          }
        }

        function showNotification(message) {
          if (Notification.permission === "granted") {
            var notification = new Notification("New Message", {
              body: message,
              icon: "{{ url_for('static', filename='img/notification-icon.png') }}",
            });
          } else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(function (permission) {
              if (permission === "granted") {
                var notification = new Notification("New Message", {
                  body: message,
                  icon: "{{ url_for('static', filename='img/notification-icon.png') }}",
                });
              }
            });
          }
        }

        function scrollToBottom() {
          $("#chat-container").scrollTop($("#chat-container")[0].scrollHeight);
        }
      });
    </script>
  </body>
</html>
